@model List<PropertySugestaoModel>

<div>
    <h2>Sugestões</h2>
</div>
<button type="button" class="btn btn-outline-primary"><a href="/Sugestoes/Create">Nova sugestão</a></button>

@foreach (PropertySugestaoModel property in Model)
{
    @if (property.Registros == "empty")
    {
        <h3>Ainda não foi cadastrado nenhuma sugestão !</h3>
    }
    else
    {
        @if (property.Registros != "null")
        {
            <div class="card">
                <div class="card-body">
                    <div>
                        <h3>sugestão</h3>
                        <textarea rows="11" class="col-12">@property.Registros</textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-primary col-2"><a
                                href="/Sugestoes/Delete?Id=@property.IdAnotacao">Excluir</a></button>
                    </div>
                </div>
            </div>
        }
    }
}