@model PropertyAnotacaoModel

<div class="row 12">
    <div class="col-8">
        <div>
            <h2>Inserir anotação</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="POST" asp-action="Create">
                    <div>
                        <h3>Novo relatório</h3>
                    </div>
                    <div>
                        <h5>Data e hora do registro</h5>
                        <input asp-for="DataAtual" type="date" required>
                    </div>
                    <div>
                        <h5>Registro</h5>
                        <textarea name="Registros" rows="11" class="col-12" required></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="~/images/Anotacao.png" class="img-fluid">
    </div>
</div>