
<div>
    <h2> Agenda automotiva pessoal </h2>
</div>
<div class="row 12">
    <div class="col-4">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td class="row mt-2"><button type="button" class="btn btn-outline-primary"><a
                                href="/Relatorio/Index">Relatório de serviços</a></button></td>
                    <td class="row mt-2"><button type="button" class="btn btn-outline-primary"><a
                                href="/Relatorio/Read">Cadastros de peças</a></button></td>
                    <td class="row mt-2"><button type="button" class="btn btn-outline-primary"><a
                                href="/Anotacao/Read">Anotações</a></button></td>
                    <td class="row mt-2"><button type="button" class="btn btn-outline-primary"><a
                                href="/Anotacao/Create">Nova anotação</a></button></td>
                    <td class="row mt-2"><button type="button" class="btn btn-outline-primary"><a
                                href="/Sugestoes/Create">Sugestões ?</a></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <img src="~/images/Agenda.png" class="img-fluid col-6 borda">
</div>