@model PropertyRelatorioModel

<div>
    <h2>Inserir informações no banco de dados</h2>
</div>
<form method="POST" asp-action="Create">
    <div class="card">
        <div class="card-body">
            <div  class="form-row">
                <label class="col-sm-3 col-form-label">Modelo do Veículo</label>
                <input asp-for="Veiculo" required class="col-4" placeholder="Modelo do Veículo">
            </div>
            <div  class="form-row">
                <label class="col-sm-3 col-form-label">Nome da Peça</label>
                <input asp-for="PecasNome" required class="col-4" placeholder="Nome da Peça">
            </div>
            <div  class="form-row">
                <label class="col-sm-3 col-form-label">Km de durabilidade da peça</label>
                <input asp-for="PecasDurabilidade" required class="col-4" placeholder="Km de durabilidade da peça">
            </div>
            <div  class="form-row">
                <label class="col-sm-3 col-form-label">Km em que a peça foi substituida</label>
                <input asp-for="PecasSubstituicao" class="col-4" placeholder="Km em que a peça foi substituida">
            </div>
            <div  class="form-row">
                <label class="col-sm-3 col-form-label">Data em que a peça foi substituida</label>
                <input asp-for="DataAtual" type="date" class="col-4">
            </div>
            <div>
                <input type="submit" value="Salvar">
            </div>
        </div>
    </div>
</form>